@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

br {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.LInp {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  input[type="range"] {
    cursor: pointer;
  }

  label {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
  }

  textarea {
    height: 75px;
    resize: none;
  }
}