.Table {
  padding: 10px;
  display: grid;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px;
}

.Table--Row {
  border-bottom: 1px black solid;

  .Table--Cell:last-child:after {
    border-right: 0;
  }
}

.Table--Cell {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    border-right: 1px black solid;
  }
}
