$dock-min-wid: 384px;
$dock-hgt: 512px;
$dock-border: 2px;
$border-type: ridge;
$dock-border-r: 25px;
$merge-hgt: 31px;

.Dock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: $dock-min-wid;
  height: $dock-hgt;
}

.Dock--primary, .Dock--secondary {
  border: $dock-border $border-type;
}

.Dock--primary {
  flex-grow: 2;
  margin-top: -3px;
  border-top-right-radius: $dock-border-r;
  border-bottom: 0;
  padding: 10px;
  text-align: left;
}

.Dock--secondary {
  flex-grow: 1;
  border-bottom-right-radius: $dock-border-r;
  border-top: 0;

  &:hover {

  }
}

.PS--merge {
  display: flex;
  height: $merge-hgt;
  justify-content: space-between;

  p {
    margin: 0;
    width: calc(50% - #{$merge-hgt / 2});
  }

  p:first-child {
    position: relative;
    border-bottom: $dock-border $border-type;
    border-left: $dock-border $border-type;

    &:before {
      position: absolute;
      right: -$merge-hgt + $dock-border;
      bottom: -$dock-border;
      content: '';
      border-bottom: $merge-hgt solid silver;
      border-left: $merge-hgt solid transparent;
    }

    &:after {
      position: absolute;
      right: -$merge-hgt + $dock-border;
      bottom: -$dock-border;
      content: '';
      border-bottom: $merge-hgt - $dock-border solid white;
      border-left: $merge-hgt - 2 * $dock-border solid transparent;
    }
  }

  p:nth-child(2) {
    border-top: $dock-border $border-type;
    border-right: $dock-border $border-type;
  }

}
