$cnt-bg: purple;

.Glass--cnt {
  position: relative;
  padding: 10px;
  background: $cnt-bg;
  overflow: hidden;
  z-index: 0;
}

.Glass {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: inset 0 0 40px 5px rgba(255, 255, 255, 0.3), 0 0 20px 5px rgba($cnt-bg, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.Glass-back {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Circle {
  position: absolute;
  clip-path: ellipse();
}
